<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.pocketmode"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21"/>

    <application
        android:label="MotoPocketMode"
        android:persistent="true"
	android:defaultToDeviceProtectedStorage="true"
	android:directBootAware="true">

        <receiver android:name=".Startup">
            <intent-filter>
                <action android:name="99" />
                <category android:name="lineageos.intent.action.INITIALIZE_LINEAGE_HARDWARE" />
            </intent-filter>
        </receiver>

        <service android:name=".PocketModeService"
                 android:permission="PocketModeService">
        </service>

        <activity android:name="PocketMode"
                  android:label="PocketMode"
                  android:excludeFromRecents="true"
                  android:launchMode="singleInstance"
                  android:screenOrientation="portrait"
                  android:windowAnimationStyle="@null">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

    </application>
</manifest>
